mixin difficult-controls(options = {})
    -
        const {
            label = '',
            inputName = '',
            controls = [],
        } = options;
    .difficult-controls
        .difficult-controls__label= `${label}:`
        .difficult-controls__items
            each control in controls
                .difficult-controls__item
                    input.difficult-controls__item-input(type = 'radio' name = inputName value = control.value)
                    .difficult-controls__item-label= control.label
