include  ./index.data.pug
include  ../components/game/game
doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content='initial-scale=1.0, width=device-width')
        title Крестики нолики
    body
        .app
            .app__wraper
                .app__game
                    +game()
                .app__start
                    input.app__start-btn(type = 'button' value = 'Начать')