-
    const difficultControls = {
        label: 'Сложность',
        inputName: 'difficult',
        controls: [
            {
                label: 'Детский сад',
                value: 0
            },
            {
                label: 'Норм',
                value: 1
            },
            {
                label: 'АДИЩЕ!',
                value: 2
            },
        ],
    }